.category_name {
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 0px ;
	width: 1165px;
	height: 100%;
	margin-left: 60px;
	margin-top: -20px;
	text-align: center;

}






	.tovar_line {
	width: 1250px;
	height: 20px;
	border: 1px solid #000000;
	text-align: left;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;



}
	.tovar_name {
	
        display: inline;

	margin-left: 108px;
	width: 575px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
        position: absolute;

	}
	.tovar_number {

	margin-left: -1px;
	width: 25px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
        position: absolute;

	}
	.tovar_artikul{

	margin-left: 26px;
	width: 80px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	background-color: #fadada;
	padding-left: 1px;
	font-weight: 600;
        position: absolute;
	}
	.ed_izmer
	{

	margin-left: 685px;
	width: 45px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
        position: absolute;
	}
	.cena_roznica
	{

	margin-left: 732px;
	width: 58px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #ffffff;
        position: absolute;
	}
	.cena_m_opt {

	margin-left: 792px;
	width: 55px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #BCF5A9;
        position: absolute;
	}

	.cena_s_opt {

	margin-left: 850px;
	width: 60px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #e4c3fc;
        position: absolute;
	}

	.cena_k_opt {

	margin-left: 913px;
	width: 55px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #FFFF00;
        position: absolute;
	}
	.cena_stop  {

	margin-left: 970px;
	
	width: 55px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #FF0040;
	color: #ffffff;
        position: absolute;
	}
	.str_kod_tovara {

	margin-left: 1028px;
	width: 105px;
	
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #000000;
	color: #ffffff;
        position: absolute;
	}


	.reset_tov {
margin-top: -21px;
padding-top: 2px;
height: 100%;
	margin-left: 1228px;
	min-width: 20px;
	max-width: 20px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
position: absolute;
	color: #000000;
	}
	.reset_cat {
margin-top: -21px;
padding-top: 2px;
height: 100%;
	margin-left: 1150px;
	min-width: 20px;
	max-width: 20px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;

	color: #000000;
	}

	.edit_tov {

padding-top: 2px;
height: 100%;
	margin-left: 1136px;
	min-width: 20px;
	max-width: 20px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;

	color: #000000;
	}

	.kol_tovara {


height: 20px;
	margin-left: 1158px;
width: 88px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f6f6f6;
	color: #000000;
        position: absolute;
	}
	.add_tovar_button {



height: 100%;
	margin-left: 0px;
	min-width: 150px;
	max-width: 200px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f6f6f6;
	color: #000000;

	}

	.add_cat_button {

		margin-top: 0px;

height: 100%;
	margin-left: 300px;
	min-width: 150px;
	max-width: 200px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f6f6f6;
	color: #000000;

	}
        .wind_h1 {
            margin-left: 0px;
            margin-bottom: 10px;
	min-width: 600px;
	max-width: 600px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #21f5f8;
        text-align: center;
	color: #000000;
        
            
        }
        
        .wind_str {
            margin-left: 0px;
            margin-top: 40px;
            height: auto;
	min-width: 600px;
	max-width: 600px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f2f2f2;
        text-align: center;
	color: #000000;
        position: relative;
        }
        
        .wind_numb {
            margin-left: -1px;
	min-width: 60px;
	max-width: 60px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f2f2f2;
        text-align: center;
        position: absolute;
	color: #000000;
        }
        
        .wind_art {
            margin-left: 0px;
           
	min-width: 99px;
	max-width: 99px;
	border-right: 0px solid #000000;
	border-left: 0px solid #000000;
	padding-left: 1px;
	background-color: #f2f2f2;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        .wind_cat {
            margin-left: 140px;
            margin-top: -30px;
	min-width: 450px;
	max-width: 450px;
	border-right: 0px solid #000000;
	border-left: 0px solid #000000;
	padding-left: 1px;
	background-color: #f2f2f2;
        text-align: center;
	color: #000000;
        
        }
        
        .wind_edizm {
            margin-left: -1px;
	min-width: 65px;
	max-width: 65px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #fadada;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        
        .wind_rozn {
            margin-left: 67px;
            
	min-width: 105px;
	max-width: 105px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #eee;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        
        .wind_mopt {
            margin-left: 175px;
          
            
	min-width: 105px;
	max-width: 105px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #3cf20b;
        text-align: center;
	color: #000000;
        position: absolute
        }
        
        .wind_sopt {
            margin-left: 279px;
          
	min-width: 100px;
	max-width: 100px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #33ccff;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        
        .wind_kopt {
            margin-left: 387px;
            
	min-width: 105px;
	max-width: 105px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #FFFF00;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        
        .wind_stop {
            margin-left: 493px;
            margin-top: -30px;
	min-width: 105px;
	max-width: 105px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #FF0040;
        text-align: center;
	color: #ffffff;
        
        }
        
        .wind_sklad {
            margin-left: 298px;
              margin-top: -30px;
	min-width: 50%;
	max-width: 50%;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #c8fdab;
        text-align: center;
	color: #000000;
        }
        
        .wind_strcod {
            margin-left: -1px;
          
	min-width: 50%;
	max-width: 50%;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #b4dcf9;
        text-align: center;
	color: #000000;
        position: absolute;
        }
        
         .wind_delete {
          margin-left: -250px;
          margin-top: -50px;
          position: absolute;
          
         
        }
        .wind_edite {
            margin-left: 392px;
            margin-top: 3px;
            
	
        }
        .wind_button {
            margin-left: 0px;
            height: 60px;
	min-width: 600px;
	max-width: 600px;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	padding-left: 1px;
	background-color: #f2f2f2;
        text-align: center;
	color: #000000;
        }
        
        .export {
          margin-left: 100px;
          margin-top: -55px;
            
            
        }
        .import {
          margin-left: 220px;
          margin-top: -55px;
            
            
        }
        .Green {
  background: green;
  width: 50px;
  height: 50px;
  transition: .5s;
  display: none;
}

