
	
	.com-pr {
	width: 1200px;
	height: 75px;
	border: 0px solid #000000;
	text-align: left;
	margin-top: 0px;
	margin-left: 1px;
	}
	
	.com-pr-t {
	width: 1200px;
	height: 25px;
	border: 0px solid #000000;
	text-align: left;
	margin-top: 50px;
	margin-left: 1px;
	}
	
	.cp-1 {
	width: 75px;
	height: 75px;
	border: 1px solid #000000;
	text-align: left;
	margin-top: 0px;
	margin-left: 3px;
	
	
	}
	
	.cp-2 {
	width: 75px;
	height: 75px;
	border: 1px solid #000000;
	text-align: left;
	margin-top: -77px;
	margin-left: 90px;
	
	
	}